body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* acho q pode apagar */
.card-pokemon {
  /* min-width: 160px; */
  /* width: 50px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  box-shadow: 0 0 2px rgba(66, 66, 66, 0.15);
}

.card-pokemon:hover {
  transform: scale(1.01);
}

.card-pokemon .link-img {
  display: block;
  margin: 0;
  padding: 0;
}

.card-pokemon div img {
  width: 100%;
  height: auto;
  background-color: rgba(66, 66, 66, 0.15);
  align-items: flex-end;
  justify-items: center;
  border-radius: 3px;
}

.card-pokemon div h4 {
  width: 100%;
  height: auto;
  color: #000;
  font-weight: 600;
  align-items: flex-end;
  justify-items: center;
}

.card-pokemon div .type {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.card-pokemon div .type p {
  border-radius: 3px;
}

.card-pokemon .type p {
  background: linear-gradient(180deg, #31313156 50%, #313131a6 50%);
  background-color: #313131a6;
  color: #fff;
  padding: 0 12px;
  margin-right: 6px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
}

.card-pokemon .link {
  display: flex;
  margin-top: 2px;
  justify-content: end;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.252);
  padding: 10px;
}

.home-type {
  border-radius: 3px;
  color: white;
  width: 70px;
  text-align: center;
}

.detail-type {
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-inline: 5px;
  padding-inline:5px;
}